<ul class="menu">
  <% @options.each do |opcion| %>
    <li>
      
        <%= link_to "#{opcion[:letrero]}<i class='icono derecha fas fa-chevron-down drop-down'></i>".html_safe, '#'%>
        
      
      <ul>
        <li>
          <% opcion[:submenu].each do |subopcion| %>
          
            <%= link_to subopcion[:opcion], '#' %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
  </ul>