:root {
  --main-radius:5px;
  --main-padding:10px;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display:grid;
  height:100vh;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.4fr;
  grid-template-areas:
     "nav nav nav nav"
     "sidebar main main main"
     "sidebar main main main"
     "sidebar footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  // color: #004d40;
  background: #cedddd;
  text-align: center;
}

nav {
  background: #a7ffeb;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

main {
  background: #84ffff;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.sidebar {
  z-index: 1;
  background: #84ffff;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: inline-block;
  line-height: 14px;
  text-decoration: none;
}

.sidebar .titulo {
  color: #3a817e;
  margin-top: 10px;
  font-size: 14px;
  padding-bottom: 10px;;
}

// .sidebar .sidebar-menu {
//   overflow: hidden;
// }

// .sidebar .sidebar-menu .item {
//   width: 250px;
//   text-align: center;
//   margin: 15px;
//   overflow: hidden;
//   border-radius: 5px;
// }

// .sidebar .sidebar-menu .item .menu-btn {
//   // display: flexbox;
//   // position: relative;
//   // padding: 10px 15px;
//   /*Este es un nodo crítico de estilo*/
//   text-decoration: none;
//   color: #cedddd;
// }

// .sidebar .sidebar-menu .item .someShit {
//   display: block;
//   text-decoration: none;
//   padding: 10px;
//   background: #226966;
//   color: #cedddd;
//   transition: 0.3s;
//   transition-property: color, background;
// }

// .sidebar .sidebar-menu .item .someShit:hover {
//   color: #0c2e2c;
//   background: #cedddd;
// }


// .sidebar .sidebar-menu .item .menu-btn:hover {
//   color: #0c2e2c;
//   // background: #076661;
// }

// .sidebar .sidebar-menu .item .menu-btn i {
//   margin-right: 2px;
// }
// /*
// .sidebar .sidebar-menu .item .menu-btn .drop-down {
//   float: right;
//   font-size: 12px;
// }
// */
// i.fas.fa-chevron-down.drop-down {
//   float: right;
// }

// .sidebar .sidebar-menu .submenu li a {
//   display: block;
//   padding: 5px 10px;
//   background: #3a817e;
//   color:  #a1b1b1;
// }

// .sidebar .sidebar-menu .submenu li a:hover {
//   background: cadetblue;
//   color: rgb(236, 241, 241);
// }

// /* Aquí está la magia de ocultar el submenu */
// .sidebar .sidebar-menu li ul.submenu {
//   // display: none;
// }

footer {
  background: #1de9b6;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

