// Place all the styles related to the Static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar .menu {
  width: 100%;
}

.sidebar ul {
  list-style: none;
}

.sidebar .menu li a {
  color: #494949;
  display: block;
  padding: 10px 15px;
  background: #e9e9e9;
  /* Hasta aquí se tiene sobre un fondo blanco todas las ligas en color obscuro */
  /* Lo que sigue es hacer los hovers y separar los íconos */
  border-radius: 5px;
}

.sidebar .menu li a:hover {
  background: #1a95d5;
  color: #ffffff;
}

.sidebar .menu .icono {
  font-size: 12px;
  line-height: 18px;
}

.sidebar .menu .icono.derecha {
  float: right;
  margin-left: 10px;
}

.sidebar .menu ul {
  display: none;
}

.sidebar .menu ul li a {
  background: #424242;
  color: #e9e9e9;
}

.sidebar .menu .activado > a {
  background: #1a95d5;
  color: #ffffff;
}