// Place all the styles related to the Static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    background-color: lightgrey;
    color: rgba(9, 14, 56, 0.904);
    font-family: sans-serif;
    text-align: center;
}

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 0px;
    font-size: 2em;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}